[submodule "FPGA"]
	path = FPGA
	url = https://github.com/DmitriyKunitsin/FPGA.git
[submodule "ESP"]
	path = ESP
	url = https://github.com/DmitriyKunitsin/ESP.git
[submodule "MyBuild123"]
	path = MyBuild123
	url = https://github.com/DmitriyKunitsin/MyBuild123.git
[submodule "Arduino"]
	path = Arduino
	url = https://github.com/DmitriyKunitsin/Arduino.git
